# Virtual Environment
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Django
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.*

# Media uploads
media/

# Static files collected by collectstatic
staticfiles/

# Logs
*.log

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Testing
.coverage
htmlcov/
.pytest_cache/

# Migrations (optional)
# Uncomment ONLY if you don't want to track migrations
# */migrations/*
# !*/migrations/__init__.py